<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MasterPassSettings.ConsumerKey" value="MasterPassConsumerKey"/>
    <add key="MasterPassSettings.AccessTokenUrl" value="masterpass/v6/acces_token"/>
    <add key="PayPalSettings.ConsumerSecret" value="PayPalConsumerSecret"/>
    <add key="PayPalSettings.RequestTokenUrl" value="paypal/v5/request_token"/>
  </appSettings>
</configuration>