<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <variable name="verbose" value="TimeStamp=${longdate} CorrelationId=${aspnet-traceidentifier} Level=${uppercase:${level}} Message=${message}"/>
  <variable name="httpItemExample" value="TimeStamp=${longdate} Level=${uppercase:${level}} HttpContextItem=${aspnet-item:variable=Item} Message=${message}"/>
  <variable name="appId" value="MyApp"/>
  <targets>
    <target xsi:type="File" name="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${verbose}" />
    <target xsi:type="File" name="HttpContextItem" fileName="${basedir}/logs/http-context${shortdate}.log"
           layout="${httpItemExample}" />
  </targets>
   
  <rules>
    <logger name="AspNetCoreLoggingWithCorrelationId*." minlevel="Debug" writeTo="File" />
    <logger name="AspNetCoreLoggingWithCorrelationId*." minlevel="Debug" writeTo="HttpContextItem" />
  </rules>
</nlog>