<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="verbose" value="TimeStamp=${longdate} ${callsite} Level=${uppercase:${level}} Message=${message} ${exception:format=tostring}"/>

  <variable name="appId" value="MyApp"/>
  <targets>
    <target xsi:type="File" name="File" fileName="${basedir}/logs/${shortdate}.log" layout="${verbose}" />
  </targets>

  <rules>
    <logger name="AspNetCoreCustomLoggerAndNLogCallsiteIssue*" minlevel="Trace" writeTo="File" />
  </rules>
</nlog>