<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="PerCallSingle" contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerCallSingle"></endpoint>
      <endpoint name="PerCallMultiple" contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerCallMultiple"/>
      <endpoint name="PerSessionSingle" contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerSessionSingle"/>
      <endpoint name="PerSessionMultiple" contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerSessionMultiple"/>
      <endpoint name="SingleSingle" contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServiceSingleSingle"/>
      <endpoint name="SingleMultiple" contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServiceSingleMultiple"/>
    </client>


    <bindings>
      <basicHttpBinding>
        <binding openTimeout="13:12:11::01"
                 closeTimeout="13:12:11:01"
                 sendTimeout="13:12:11:01"
                 receiveTimeout="13:12:11:01">
        </binding>
      </basicHttpBinding>
    </bindings>
    
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <runtime> 
      <ThrowUnobservedTaskExceptions enabled="true"/> 
   </runtime> 
</configuration>
