<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ConcurrencyModeRevisited.Services.AudioServicePerCallSingle">
        <endpoint contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerCallSingle"/>
      </service>
      <service name="ConcurrencyModeRevisited.Services.AudioServicePerCallMultiple">
        <endpoint contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerCallMultiple"/>
      </service>
      <service name="ConcurrencyModeRevisited.Services.AudioServicePerSessionSingle">
        <endpoint contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerSessionSingle"/>
      </service>
      <service name="ConcurrencyModeRevisited.Services.AudioServicePerSessionMultiple">
        <endpoint contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServicePerSessionMultiple"/>
      </service>
     <service name="ConcurrencyModeRevisited.Services.AudioServiceSingleSingle">
        <endpoint contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServiceSingleSingle"/>
      </service>
     <service name="ConcurrencyModeRevisited.Services.AudioServiceSingleMultiple">
        <endpoint contract="ConcurrencyModeRevisited.Contracts.IAudioService" binding="basicHttpBinding" address="http://localhost:8080/AudioServiceSingleMultiple"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>