<div style="width: 100%;height: 100%" class="panel panel-default">
    <div class="alert alert-danger">
        {{greeting}}
    </div>

    <div class="container nomargin">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-default" ng-click="handleRenderButtonClick()">Raise event</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="message in messages">
                    <div class="col-md-12">{{message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>