/* app css stylesheet */
html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.full {
    height: 100%;
    width: 100%
}

.nomargin{
    padding: 0px !important;
    margin: 0px !important;
}