<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="AudioLib.Services.AudioService">
        <endpoint address="AudioService" binding="netTcpBinding" contract="AudioLib.Contracts.IAudioService"/>
        <endpoint address="AudioService/MEX" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <!-- default mex endpoint configuration
   <system.serviceModel>
    <services>
      <service name="AudioLib.Services.AudioService">
        <endpoint address="AudioService" binding="netTcpBinding" contract="AudioLib.Contracts.IAudioService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080"/>
            <add baseAddress="http://localhost:8089"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
   -->
</configuration>