<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:haf="https://github.com/haf/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log" >
  
  <extensions>
    <add assembly="NLog.Targets.RabbitMQ" />
  </extensions>
  
  <variable name="verbose" value="TimeStamp=${longdate} CorrelationId=${mdlc:item=correlationid} Level=${uppercase:${level}} Message=${message}"/>
  <variable name="appId" value="MyApp"/>
  <targets>
    <target xsi:type="File" name="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${verbose}" />
  
     <target name="RabbitMQTarget"
       xsi:type="RabbitMQ"
       username="guest"
       password="guest"
       hostname="localhost"
       exchange="logger"
       port="5672"
       topic="${appId}"
       vhost="/"
       useJSON="false"
       appid="${appId}"
       maxBuffer="10240"
       heartBeatSeconds="3"
       deliveryMode="Persistent"
       timeout="500"
       layout="${verbose}"
       useLayoutAsMessage ="true">
     </target>
  
  </targets>
   
  <rules>
    <logger name="*" minlevel="Debug" writeTo="RabbitMQTarget" />
    <logger name="*" minlevel="Debug" writeTo="File" />
  </rules>
</nlog>