<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- uncomment lines below when you run this app on .NET 4.5 or above (if you have these frameworks installed on your machine ) 
  to simulate pure .NET 4.0 behavior
  -->
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
</configuration>
