.v-vertical-header-grid .x-column-header .x-column-header-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE  */
}

.v-vertical-header-grid .x-column-header {
    background-image: -ms-linear-gradient(rgb(249, 249, 249), rgb(227, 228, 230)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F9F9F9', endColorstr='#E3E4E6');

}

.v-vertical-header-grid .x-grid-header-ct {
    background-image: -ms-linear-gradient(rgb(249, 249, 249), rgb(227, 228, 230)) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#F9F9F9', endColorstr='#E3E4E6');

}