<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="verbose" value="TimeStamp=${longdate} TraceId=${aspnet-traceidentifier} Level=${uppercase:${level}} Message=${message} ${exception:format=tostring}"/>

  <variable name="appId" value="MyApp"/>
  <targets>
    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="${verbose}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>
    <target xsi:type="File" name="File" fileName="${basedir}/logs/${shortdate}.log" layout="${verbose}" />
  </targets>
  
  <rules>
    <logger name="NLogWebAspNetCoreExceptionLoggingWithoutMessage*" minlevel="Trace" writeTo="Console" />
    <logger name="NLogWebAspNetCoreExceptionLoggingWithoutMessage*" minlevel="Trace" writeTo="File" />
  </rules>
</nlog>